:root {
  --text-sm: 1rem;
  --text-md: 2rem;
  --text-lg: 4rem;
  --text-xl: 8rem;

  --spacehaze-light: #f8e3c4;
  --spacehaze-dark: #0b0630;
  --spacehaze-purple: #6b1fb1;
  --spacehaze-pink: #cc3495;

  --flame-anim-time: 2.33s;
}

.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.gt-pressura {
  font-family: gt-pressura, sans-serif;
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.enable-vertical-center {
  display: flex;
}

#map-container {
  position: absolute;
  width: calc(100% - 10rem);
  height: calc(100% - 10rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--spacehaze-light);
  border-radius: 1rem;
  overflow: hidden;
}

.map-top-bar {
  height: 4rem;
  box-shadow: var(--spacehaze-dark) 0 0 0.5vw;
}

.map-top-bar-left-text {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
}

.map-top-bar-right-text {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row-reverse;
}

.happy-face {
  position: fixed;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -25%);
  height: 10vw;
  width: 10vw;
}

.fire {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -25%);
  height: 10vw;
  width: 10vw;
}

.flames {
  position: absolute;
  bottom: 40%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translateX(-50%) rotate(45deg);
}

.flame {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: var(--spacehaze-light);
  border-radius: 1vw;
  box-shadow: var(--spacehaze-dark) 0 0 0.5vw;
}

.flame1, .flame3 {
  animation: flameodd var(--flame-anim-time) ease-in infinite;
}

.flame0, .flame2 {
  animation: flameeven var(--flame-anim-time) ease-in infinite;
}

.flame0 {
  animation-delay: 0s;
}

.flame1 {
  animation-delay: calc(var(--flame-anim-time) / 4);
}

.flame2 {
  animation-delay: calc(var(--flame-anim-time) / 4 * 2);
}

.flame3 {
  animation-delay: calc(var(--flame-anim-time) / 4 * 3);
}

@keyframes flameodd {
  0%, 100% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: var(--spacehaze-light);
    z-index: 1000000;
  }
  40% {
    background-color: var(--spacehaze-purple);
    z-index: 1000000;
  }
  100% {
    background-color: var(--spacehaze-pink);
    z-index: -10;
  }
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}

@keyframes flameeven {
  0%, 100% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: var(--spacehaze-light);
    z-index: 1000000;
  }
  40% {
    background-color: var(--spacehaze-purple);
    z-index: 1000000;
  }
  100% {
    background-color: var(--spacehaze-pink);
    z-index: -10;
  }
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}

@font-face {
  font-family: gt-pressura;
  src: url(../img/GT-Pressura-Light-Trial.woff2);
}
